* {
    font-family: roboto;
    
}


.head {
    background-color: #1f2937;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}





.top {
    display: flex;
    margin-bottom: 200px;
}

.links {
    display: flex;
    justify-self: flex-end;
    gap: 48px;
    color: #e5e7eb;
}

.container{
    display: flex;
    flex-direction: row;
    
}

.logo {
    margin-right: 1500px;
    margin-left: 150px;
    font-size: 24px;
    color: #F9FAF8;
}


.hero {
    display:flex;
    flex-direction: column;
    width: 400px;
    margin-left: 150px;
}

.heromain {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;

}

.herosub {
    font-size: 18px;
    color: #e5e7eb;
    
}


.button1 {
    width: 120px;
    height: 35px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
}

.img{
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    text-align: center;
    
    
}

img {
    width: 800px;
    height: 400px;
    background-color: grey;
    margin-left: 1000px;
    margin-bottom: 400px;
    line-height: 400px;
    
}

.info {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}